body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #f0f0f0;
}

h1 {
    margin: 0;
}

.topnav {
    overflow: hidden;
    background: transparent;
    position: relative;
}

.topnav a:not(:first-child) {
    float: right;
    padding-bottom: 3px;

}

.topnav a:nth-child(1) {
    background-color: orange;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    /* margin-left: 25px; */
    margin-top: 0;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 25px;
    margin-top: 5px;
    ;
}

.topnav a:nth-child(1):hover {
    background-color: #4CAF50;
}

.topnav a:not(:first-child):hover {
    /* background-color: #ddd; */
    border-bottom: 2px solid orange;
    /* color: black; */
}


.icon img {
    height: 25px;
}

.topnav .icon {
    display: none;
}


.hero-main {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(/Project/vendors/images/nature.jpg);
    background-size: cover;
    background-position: center;
    height: 120vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    color: #ddd;
    font-size: 40px;
}




.btn {
    text-decoration: none;
    font-size: 20px;
    /* background-color: #4CAF50; */
    border-radius: 20px;
    padding: 5px 15px;
    /* transition-duration: 0.3s; */

}

.btn-take {
    color: white;
    background-color: #bb7900;
    border: 2px solid #bb7900;

}

.btn-take:hover {
    background-color: #996300;
    border: 1px solid #996300;
}

.btn-more {
    border: 2px solid #bb7900;
    color: black;
}

.btn-more:hover {
    background-color: #bb7900;
    color: white;
}

.section-globe {
    position: relative;
    margin: 1px 7.5% 1px 7.5%;
    width: 85%;
    height: 75vh;
}

.col-1-of-2 {
    width: 50%;
    float: left;
}

.globehead {
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(to right, #16A085, #FA30Df);
    -webkit-background-clip: text;
    color: transparent;
}

.mainhead {
    margin: 40px 0;
    margin-bottom: 70px;
}

.subhead {
    text-transform: uppercase;
    font-size: 20px;
}

.composition {
    position: relative;
    /* background-color: #4CAF50; */


}

.composition-photo {
    position: absolute;
    width: 55%;
    z-index: 10;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    opacity: 1;
    transition-duration: 0.4s;
    outline-offset: 20px;
}

.composition-photo-1 {
    left: 0;
    top: -20px;

}

.composition-photo-2 {
    right: 0;
    top: 20px;
}

.composition-photo-3 {
    left: 20%;
    top: 100px;
}

.composition-photo:hover {
    transform: scale(1.05)translateY(5px);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
    z-index: 20;
    outline: 15px solid #16A085;

}

.composition:hover .composition-photo:not(:hover) {
    transform: scale(0.95);
    opacity: 0;
}



.left-para {
    width: 85%;
    color: rgb(90, 75, 75);
    text-align: left;
}

.btn-anc {
    background-color: orange;
    color: white;
}


.section-features {
    position: relative;
    background-image: linear-gradient(to right bottom, rgba(179, 182, 172, 0.8), rgba(183, 199, 193, 0.8)), url(/Project/vendors/images/himalyas.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.inner-fea {
    width: 90%;
    position: absolute;
    margin-top: 150px;
    margin-left: 5%;

}

.grid-container {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}



.grid-item {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
    height: 50vh;
    width: 90%;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: #575656;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    transition-duration: 0.4s;
}

.icon {
    transform: scale(2);
    box-sizing: border-box;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    color: rgba(182, 213, 111, 0.8);
}

.fea-head {
    margin: 10px 0;
    margin-top: 50px;
    font-size: 18px;
    text-transform: uppercase;
}

.fea-text {
    letter-spacing: 1px;
    /* text-align: center; */
}

.grid-item:hover {
    cursor: pointer;
    transform: scale(1.1) translateY(-7px);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 40px 28px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
    width: 770px;
    max-width: 100%;
    min-height: 480px;
    display: flex;
    /* border: 1px solid green; */
}

.form-container {
    /* position: absolute; */
    top: 0;
    height: 100%;

}

.social-container {
    margin: 20px 0;

}

.social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.signup-cont {
    left: 0;
    width: 50%;
    z-index: 1;

}

.signin-cont {
    left: 0;
    width: 50%;
    z-index: 2;

}

.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;

}


















@media screen and (max-width: 600px) {
    .composition-photo {
        position: relative;
        width: 100%;
    }

    .composition-photo-3 {
        left: 0;
        top: 60px;
    }


}

@media screen and (max-width: 600px) {
    .hero-text-box {
        font-size: 20px;
        width: 100%;
        margin-left: 15px;
    }

    .btn {
        display: block;
        margin-top: 20px;
        /* margin-left: 15px; */
    }

    .btn-take {
        width: 18vw;
    }

    .btn-more {
        width: 30vw;
    }
}

@media screen and (max-width: 1140px) {
    .hero-text-box {
        font-size: 25px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        /* background-color: #333; */
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}